
<div class="totaro">
<p>名前 : <%= @user.name %></p>
<p><%= image_tag @user.image_url, size: "250x200" if @user.image? %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<br> 
<% @user.songs.each do |t| %>
  <%= t.user.name %>
  <%= t.title %>
  <%= button_to "削除する", song_path(t.id), method: :delete %>
<% end %> 

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<br>
<% @user.liked_songs.each do |t| %>
  <%= t.user.name %>
  <%= t.title %>
<% end %>
<!-- ここまで-->
<br>
<%= link_to "トップページに戻る", songs_path %>
</div>
